# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor, .overlayer': [
    {
      'label': 'Mocha Test Runner'
      'submenu': [
        { label: 'Run Mocha tests', command: 'mocha-test-runner:run' }
        { label: 'Debug Mocha tests', command: 'mocha-test-runner:debug' }
        { label: 'Re-run last Mocha tests', command: 'mocha-test-runner:run-previous' }
        { label: 'Debug last Mocha tests', command: 'mocha-test-runner:debug-previous' }
      ]
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Mocha Test Runner'
      'submenu': [
        { 'label': 'Run tests', 'command': 'mocha-test-runner:run' }
        { 'label': 'Debug tests', 'command': 'mocha-test-runner:debug' }
        { 'label': 'Re-run last tests', 'command': 'mocha-test-runner:run-previous' }
        { 'label': 'Debug last tests', 'command': 'mocha-test-runner:debug-previous' }
      ]
    ]
  }
]
