# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Run Mocha tests': 'mocha-test-runner:run'
      'Re-run last Mocha tests': 'mocha-test-runner:run-previous'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'mocha-test-runner'
      'submenu': [
        { 'label': 'Run tests', 'command': 'mocha-test-runner:run' }
        { 'label': 'Re-run last tests', 'command': 'mocha-test-runner:run-previous' }
      ]
    ]
  }
]
