// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.mocha-test-runner pre {
  background-color: @base-background-color;
}

.mocha-test-runner pre {
  background-color: @base-background-color;
  font-size: @font-size;
}

.mocha-test-runner .results.success {
  color: rgb(0, 150, 0)
}

.mocha-test-runner .results.failure {
  color: rgb(150, 0, 0)
}
